extends layout

block content
  #addCar.container
    .row
      if status
        .col.s12.m4.l8.offset-m4.offset-l2
          .card-panel.teal
            span.white-text #{status}
      form.col.s12.m4.l8.offset-m4.offset-l2(action="/add" method="post")
        .row
          .input-field.col.s12
            input(type="text" id="carNumber" name="carNumber").validate
            label(for="carNumber") Car Number
        .row
          .input-field.col.s12
            input(type="text" id="carName" name="carName").validate
            label(for="carName") Car Name
        .row
          .input-field.col.s12
            input(type="text" id="carUniversity" name="carUniversity").validate
            label(for="carUniversity") Car University
        .row
          .input-field.col.s12
            input(type="text" id="carColor" name="carColor").validate
            label(for="carColor") Car Color
        .row
          .input-field.col.s12
            button(type="submit").btn.waves-effect.waves-light.right Create
              i.material-icons.right send
      .col.s12.m4.l2