extends layout

block content
  #laps.container
    if cars
      .row.center
        .col.s12(style="padding-bottom:1rem;")
          a.waves-effect.waves-light.btn-large#start.red Start
            i.material-icons.left play_arrow
      .row.center
        each car in cars
          .col.s6.m3
            .card(id="n#{car.number}")
              .card-content
                p.bold
                  span= car.number
                  |  - 
                  span= car.name
                p.university= car.university
              form.card-action(style="padding:5px;" class="#{car.color}")
                input(type="text" name="carNumber" id="#{car.number}" value="#{car.number}" hidden)
                button(type="submit") +
                  span.laps= car.laps
    else
      h1 There are no cars for show... add cars please!