doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/materialize.css' media='screen,projection')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.grey.darken-3
      .nav-wrapper
        a.brand-logo.center(href='/') #{title}
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href='/add')
              i.material-icons add
          li
            a(href='/laps')
              i.material-icons alarm_on
          li
            a(href='/pits')
              i.material-icons flag
          li
            a(href='/cambria')
              i.material-icons(style="color: #ffc107;") directions_car
        ul#mobile-demo.side-nav
          li
            a(href='/add') Add
              i.material-icons add
          li
            a(href='/pits')
              i.material-icons flag
          li
            a(href='/cambria')
              i.material-icons(style="color: #ffc107;") directions_car
    block content
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/materialize.js')
    script.
      $(document).ready(function() {
        $(".button-collapse").sideNav();
      });
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();

      $('#start').click(function(){
        socket.emit('start');
        return false;
      });
      socket.on('start', function(laps){
        $('.laps').text("0");
      });

      $('form.card-action').click(function(){
        socket.emit('plus1Lap', $(this.firstChild).val());
        return false;
      });
      socket.on('plus1Lap', function(snap){
        var id = '#n' + snap.number;
        $(id + ' form button span').text(snap.laps);
      });