extends layout

block content
  #laps.container
    .row.center
      if cars
        each car in cars
          .col.s6.m3
            .card(id="n#{car.number}")
              .card-content
                p.bold
                  span= car.number
                  |  - 
                  span= car.name
                p.university= car.university
              form.card-action(style="padding:5px;" class="#{car.color}")
                input(type="text" name="carNumber" id="#{car.number}" value="#{car.number}" hidden)
                button(type="submit").col.s6
                  i.material-icons.left play_arrow
                button(type="submit").col.s6
                  i.material-icons.left play_arrow
      else
        h1 There are no cars for show... add cars please!