body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bold {
	font-weight: bold;
}
p.university {
	font-size: 0.9rem;
}
#addCar, #laps {
	margin-top: 4rem;
}
#laps .row .card .card-content {
	padding-top: 10px;
	padding-bottom: 10px;
}
#laps .row .card form button {
	border: 0px;
	background: transparent;
	padding: 0.5rem 5rem;
	font-size: 2rem; 
}

/* label color */
.input-field label {
 color: #7F7F7F;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #7F7F7F;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #7F7F7F;
 box-shadow: 0 1px 0 0 #7F7F7F;
}